<div class="container py-3">
  <div class="row">
    <div class="col-6">
      <h2>Users Managment</h2>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <button type="button" class="btn btn-outline-success" (click)="onAddEmployee()">Add User</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4" *ngFor="let employee of employees">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ employee.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ employee.position }}</h6>
          <span class="badge" [ngClass]="{ 'bg-danger': employee.dept == 'Design', 'bg-success': employee.dept != 'Design' }">{{ employee.dept }}</span>
          <hr>
          <button type="button" class="btn btn-sm btn-outline-primary" (click)="onUpdateEmployee(employee)">Edit</button>
          <button type="button" class="btn btn-sm btn-outline-danger mx-2" (click)="onDeleteEmployee(employee._id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show" [class.show]="showModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" role="document">
      <div class="modal-header">
        <h5 class="modal-title">{{ editMode ? 'Update' : 'Add'}} User</h5>
        <button class="btn-close" type="button" data-dismiss="modal" aria-label="Close" (click)="onCloseModal()"></button>
      </div>
      <form [formGroup]="empForm" (ngSubmit)="onEmpSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label>Enter Name</label>
            <input type="text" class="form-control" formControlName="name">
            <small *ngIf="!empForm.get('name')?.valid && empForm.get('name')?.touched" class="form-text text-danger">Please Enter Name.</small>
          </div>
          <div class="form-group">
            <label>Enter Position</label>
            <input type="text" class="form-control" formControlName="position">
            <small *ngIf="!empForm.get('position')?.valid && empForm.get('position')?.touched" class="form-text text-danger">Please Enter Position.</small>
          </div>
          <div class="form-group">
            <label>Enter Departament</label>
            <select class="form-select" formControlName="dept">
              <option value="Design">Design</option>
              <option value="Development">Development</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onCloseModal()">Close</button>
          <button type="submit" class="btn btn-primary">{{ editMode ? 'Update Employee' : 'Add Employee' }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
